<h5>Edit</h5>
<form [formGroup]="speechForm">
  <div class="form-group">
    <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Speech content" formControlName="content"></textarea>
  </div>
  <div class="form-row align-items-start mb-3">
    <div class="col-md-4 mb-3">
      <label class="" for="author">Author</label>
      <input type="text" class="form-control" id="author" placeholder="Jane Doe" formControlName="author">
    </div>
    <div class="col-md-4 mb-3">
        <label for="" class="">Keywords</label>
        <div *ngIf="tags" class="form-control well mb-3">
            <a 
            href="#"
            *ngFor="let tag of tags; trackBy: trackByIndex; let i = index" 
            (click)="remove(i)" 
            class="badge badge-pill badge-light">{{ tag }}</a>
        </div>  
        <div class="input-group">
            <input type="text" class="form-control" name="tag" #tag (keyup.enter)="addTag(tag.value)">
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="addTag(tag.value)" type="button"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
        </div>  
    </div>
    <div class="col-md-4 mb-3">
      <label for="" class="">Updated Date</label>
      <div class="input-group">
        <input type="text"
               class="form-control" 
               placeholder="mm-dd-yyyy"
               ngbDatepicker 
               #d="ngbDatepicker" 
               formControlName="updated">
        <div class="input-group-append">
          <button class="btn btn-secondary" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3"></div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-block btn-outline-secondary">Delete</button>
    </div>
    <div class="col-md-3 mb-3">
        <button class="btn btn-block btn-outline-secondary">Save</button>
    </div>
    <div class="col-md-3 mb-3">
        <button class="btn btn-block btn-outline-secondary">Share</button>
    </div>
  </div>
</form>