<h5>Edit</h5>
<form [formGroup]="speechForm" (ngSubmit)="onSubmit($event)">
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" cols="30" rows="10" placeholder="Speech content" formControlName="content"></textarea>
    <div *ngIf="content.invalid && (content.dirty || content.touched)"
    class="alert alert-danger mt-3">
      <div *ngIf="content.errors.required">
        Content is required.
      </div>
    </div>
  </div>
  <div class="form-row align-items-start mb-3">
    <div class="col-md-4 mb-3">
      <label class="" for="author">Author</label>
      <input type="text" class="form-control" id="author" placeholder="Author Name" formControlName="author">
      <div *ngIf="author.invalid && (author.dirty || author.touched)"
      class="alert alert-danger mt-3">
        <div *ngIf="author.errors.required">
          Author is required.
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
        <label for="" class="">Keywords</label>
        <div *ngIf="tags" class="form-control well mb-3">
            <a 
            href="#"
            *ngFor="let tag of tags.controls; trackBy: trackByIndex; let i = index" 
            (click)="remove(i)" 
            class="badge badge-pill badge-light">{{ tag.value }}</a>
        </div>  
        <div class="input-group">
            <input type="text" class="form-control" #tag (keyup.enter)="addTag(tag.value)" placeholder="Add tag or keyword">
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="addTag(tag.value)" type="button"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
        </div>  
    </div>
    <div class="col-md-4 mb-3">
      <label for="" class="">Updated Date</label>
      <div class="input-group">
        <input type="text"
               class="form-control" 
               placeholder="mm/dd/yyyy"
               ngbDatepicker 
               #d="ngbDatepicker" 
               value="updated.value"
               formControlName="updated">
        <div class="input-group-append">
          <button class="btn btn-secondary" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendar"></fa-icon></button>
        </div>
      </div>
      <div *ngIf="updated.invalid && (updated.dirty || updated.touched)"
        class="alert alert-danger mt-3">
        <div *ngIf="updated.errors.required">
          Updated is required.
        </div>
      </div>      
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3"></div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-block btn-outline-secondary" type="button" (click)="onDelete()">Delete</button>
    </div>
    <div class="col-md-3 mb-3">
        <button class="btn btn-block btn-outline-secondary" type="submit" [disabled]="!speechForm.valid">Save</button>
    </div>
    <div class="col-md-3 mb-3">
        <button class="btn btn-block btn-outline-secondary" type="button">Share</button>
    </div>
  </div>
</form>